* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 20px;
}

.calculator {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #F9F5F5;
    padding: 15px;
}

.screen {
    height: 100px;
    box-shadow: inset 5px 5px 5px rgba(00, 00, 00, 0.25);
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 20px;
    font-size: 50px;
}

.row {
    display: flex;
    gap: 10px;
}


.all-clear,
.clear-last,
.operator,
.percent,
.number,
.decimal, 
.equality {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    border-radius: 10px;
}

.zero,
.all-clear {
    flex-grow: 2;
}

.all-clear,
.clear-last {
    background-color: #ECAD92;
}

.number,
.decimal {
    background-color: #ECE2E2;
}

.operator,
.percent {
    background-color: #DEE3BF;
}

.equality {
    background-color: #C6D9C4;
}

.all-clear:hover,
.clear-last:hover,
.operator:hover,
.percent:hover,
.number:hover,
.decimal:hover, 
.equality:hover {
    box-shadow: inset 3px 3px 5px rgba(00, 00, 00, 0.1);
}